/* mobile-location-button-output */

.mobile-location-img {
    display: flex;
    position: relative;
    height: 574px;
    width: 100%;
    max-width: 500px;

}
.tablet-location-img{
    display: none;
}
.image-container{
    width: 500px;
}

button{
    background: none;
    border: none;

}
.location-header{
    display: flex;
    justify-content: center;
}

.location-header h1 {
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 4px;
}
.king-street-h2 {
    margin-top: 28px;
    font-family: 'Big Shoulders Display';
    font-size: 32px;
    color: #D5966C;
    font-weight: 900;


}

 
.back-to-home{
    left: 0;
    top: 0;
    position:absolute;
    display: flex;

}
.left-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height:72px;
    background: #D5966C;

}
.left-arrow-black-part{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 72px;
    width: 208px;
    background: #151515;

}

.info-container{
    padding: 48px 16px 56px 16px;
    background-color: #151515;
}
.our-location-h1{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 50px;
    color: white;
}

.info-container p  {

    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Outfit';
    line-height: 28px;
}



.text-group{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

footer{
    padding: 48px 32px 49.5px 32px;
    display: flex;
    gap: 38px;
    flex-direction: column;
    background: #D5966C;

}
footer h1{
    color: #151515;
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 20px;
}
footer p{
    font-weight: 300;
    font-size: 16px;
    font-family: 'Outfit';
    line-height:26px;
    color:#151515;

}
.soc-icons{

  
  display: flex;
  gap: 20px;

}


/*end of the mobile-location-button-output */

/* tablet responsive */
@media screen and (min-width: 768px){
    .mobile-location-img {
        display: none;
    }

    .image-container{
        width: 100%;
        display: flex;
    }

    .tablet-location-img {
        width: 100%;
        display: block;
    }

    .back-to-home{
        margin-left: 39px;
    }
    .info-container{
        padding: 88px 40px 80px 39px;
    }

     
    .our-location-h1 {
        font-size: 55px;
        width: 223px;
    }

    .exact-direction{
        display: flex;
        flex-direction: column;
        margin-left: 292px;
        margin-top: -155px;
        gap: 20px;

    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    footer h1{
        font-size: 25px;
       
    }
    footer p{
        width: 281px;
        margin-right: 50px;
    }

    .soc-icons{
        margin-right: 95px;
    width: 20px;
    height: 20px;

}
}

/* end of the tablet responsive */




