body {
    width: 100vw
}



main  {
    padding: 16px;
}


.location-button a{
    text-decoration: none;
    max-width: 100%;
    color: white;
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    letter-spacing: 4px;
}

.location-button{
    background-color:#151515;
    max-width: max-content;
    
}
.mobile-img{
    width: 100%;
    max-width: 500px;
    height: 240px;
}

.left-part{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
    width: 204px;
    min-height: 72px;
    
}
.come-and-be-inspired-desktop {
    display: none;
}
.tablet-img{
    display: none;
}
.desktop-img{
    display: none;
}
.desktop-grid-2-img{
    display: none;
}
.desktop-grid-3-img {
    display: none;
}
.your-day-at-the-gallery-first-img-desktop {
    display: none;
}

.gallery-image-group-tablet{
    display: none;
}
.your-day-at-the-gallery-first-img-tablet{
    display: none;
}

.modern-art-gallery{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.modern-art-gallery h1{
    width: 285px;
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    font-weight: 900;
    color: #151515;
    
}
.modern-art-gallery .gallery-p{
    font-family: 'Outfit';
    color:  #444444;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    
}

.location-button{
    display: flex;

    
}


.location-button:hover{
    cursor: pointer;
}





button{
    background: #151515;
    border: none;
    height: 72px;
    width: 204px;
}
button .buttonp{
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height:72px;
    background-color:  #D5966C;


}


.mobile-second-img{
    margin-top: 88px;
    height: 320px;

}

.your-day-at-the-gallery{
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 25px;
}

.come-and-be-inspired-tablet{
    display: none;
}
.your-day-at-the-gallery h1{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 50px;
    color: #151515;
}
.your-day-at-the-gallery p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


.group-of-images-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;

}

.first-img-in-g {

    height: 480px;
}

.second-img-in-g {
    
    height: 200px;

}
.center-last-black-div-mobile{
    display: flex;
    justify-content: center;
    width: 343px;
}



.come-and-be-inspired-mobile{
    padding: 48px 24px 48px 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    background: #151515;
    max-width: 100%;
}

.come-and-be-inspired-mobile h1{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    color: White;
    font-size: 50px;
}
.come-and-be-inspired-mobile p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
    

}





.footer-box{

    margin-top: 104px;
    background: #151515;
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    gap: 38px;
}

.footer-box h1{
    max-width: 90px;
    font-family: 'Big Shoulders Display';
    color: white;
    font-size: 21px;
}
.footer-box p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: white;

}
.social-icons{

    display: flex;
    gap: 20px;
}




/* tablet responsive */
@media screen and (min-width: 768px){
     header{
        position: relative
     }

     /* .first-gallery-cont{
        display: block !important;
     } */

     .center-gallery{
        display: block
     }
     

     main {
        padding: 0px 40px 0px 39px;
     }
    
     
    .mobile-img {
        display: none;
    }
    .desktop-img{
        display: none;
    }
    .your-day-at-the-gallery-first-img-desktop{
        display: none;
    }
    .desktop-grid-2-img{
        display: none;
    }
    .desktop-grid-3-img {
        display: none;
    }

    .mobile-second-img {
        display: none;
    }
    .group-of-images-mobile{
        display: none;
    }

    .come-and-be-inspired-desktop{
        display: none;
    }

 
    .tablet-img{
        display: block;
        width: 437px;
    }
    .gallery-p {
        width: 339px;
    }

    .modern-art-gallery {
        position: absolute;         
        top:0;
        left:0;
        margin-left: 396px;
        margin-top: 140px;
        gap: 55px;
    }

    .first-gallery-cont{
        display: flex;
        justify-content: center;
    }

    .your-day-at-the-gallery h1{
        width: 223px;
    }
    .your-day-at-the-gallery p{
        width: 223px;
    }
    .your-day-at-the-gallery {
    
        position: relative;
        margin-top: 154px;
    }

    .your-day-at-the-gallery-first-img-tablet{
        display: block;
        margin-top: -366px;
        width: 398px;
        
        margin-left: 290px;
        

    }


.main-cont{
    display: flex;
    justify-content: center;
    margin-top:-35px;

    
}

.gallery-image-group-tablet{
    position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 398px;
  margin-top: 46px;

}

.tablet-grid-2-img{
    width: 398px;
    margin-left: -287px;
}
.tablet-grid-3-img{
    width: 280px;
    position: absolute;
    margin-left: 122px;
}


.come-and-be-inspired-tablet{
    padding: 80px 28px 80px 29px;

    display: block;
    background: #151515;
    position: absolute;
    margin-left: 122px;
    margin-top: 324px;
}

.come-and-be-inspired-tablet h1{
    color: white;
    font-family: 'Big Shoulders Display';
    font-size: 50px;
    font-weight: 900;
    width: 223px;
}

.come-and-be-inspired-tablet p{
    font-family: 'Outfit';
    font-size: 18px;
    line-height: 28px;
    width: 223px;
    
    margin-top: 24px;
    color: white;

}

.footer-box{
    margin-top: 120px;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer-box h1{
    font-size: 21px;
    width: 120px;
}


.footer-box p{
    margin-right: 55px;
    width: 281px;
}
.social-icons {
    display: flex;
    flex-direction: row;
    
    margin-right: 90px
}

}




/* desktop responsive */
@media screen and (min-width: 1250px){
    .tablet-img {
        display: none;
    }
    .your-day-at-the-gallery-first-img-tablet {
        display: none;
    


    }
    
    .come-and-be-inspired-tablet{
        display: none;
    }


    .first-gallery-cont{
        justify-content: center;
    flex-direction: row;
    display: flex !important;
        display: block;
    }
    .tablet-grid-2-img{
        display: none;
    }
    .tablet-grid-3-img{
        display: none;
    }
    .desktop-img{
        display: block;
        width: 540px;
    }

    .desktop-img-black-part{
        display: flex;
    }

    .header-black-part {
        height: 799px;
        width: 450px;
        background-color: #151515;
    }

    main {
        padding: 0px 165px;
    }

.modern-art-gallery{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 925px;
    margin-top: 200px;
    gap: 55px;
}




    .modern-art-gallery h1{
        position: absolute;
        background: linear-gradient(91deg, rgb(255 255 255) 56%, rgb(0 0 0) 40%);
        -webkit-text-fill-color: #ffffff00;
        -webkit-background-clip: text;
        margin-left: -767px;
        margin-top: -18px;
        font-size: 96px;
        width: 514px;
    }

    .modern-art-gallery .gallery-p{
        font-size: 22px;
        line-height: 32px;
        width: 350px;
    }


    .your-day-at-the-gallery{
        
        display: flex;
        flex-direction: row;

    }
    .your-day-at-the-gallery h1{
        margin-left: -558px;
        margin-top: 70px;
        font-size: 60px;
        width: 350px;
    }
    .your-day-at-the-gallery p{
        margin-left: -362px;
        margin-top: 220px;
        font-size: 22px;
        line-height: 32px;
        width: 350px;
    }
    
    .your-day-at-the-gallery-first-img-desktop{
        display: block;
    width: 635px;
        margin-left: -78px;
    position: absolute;
    }

    .desktop-grid-2-img{
        display: block;
        width: 635px;
        
      margin-left: -265px;

    }

    .desktop-grid-3-img {
        display: block;
        width: 445px;
        margin-top: -721px;
        margin-left: 400px;
    }
    


    .gallery-image-group-tablet {
        margin-top: 141px;
        display: block;
        max-width: 100%;
        margin-left: 275px;
    }



    .come-and-be-inspired-desktop{
        display: block;
        padding: 65px 47px;
        background: #151515;
        margin-left: 400px;
        margin-top: 30px;
        max-width: 445px;
    }

    .come-and-be-inspired-desktop h1{
        font-family: 'Big Shoulders Display';
        line-height: 60px;
        font-size: 60px;
        width: 350px;
        color: White;
        font-weight: 900;

    }

    .come-and-be-inspired-desktop p{
        font-family: 'Outfit';
        color: white;
        font-size: 22px;
        font-weight: 300;
        line-height: 34.5px;
        width: 350px;
        margin-top: 23.5px;

    }

    .footer-box{
        padding: 0;
        margin-top: 180px;
        padding: 80px 165px;
    }
    .footer-box h1{
        font-size: 35px;
    width: 150px;
    max-width: 150px;

    }

    .footer-box p {
        margin-right: 120px;
        width: 430px;
        font-size: 18px;
        line-height: 28px;
    }


    .center-gallery{
        display: flex;
        justify-content: center;
    }


svg:hover{
    cursor: pointer;
}
    .social-icons svg:hover path {
        
        fill:#D5966C;
        transition-duration: .5s;
        cursor: pointer;
    }


    .location-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .location-button{
        width: max-content;
    }

    
    .left-part:hover {
        background: #d5966c;
        cursor: pointer;
    }
    .left-part:hover ~ .right-arrow {
        background-color: #151515;
      }
}





