body {
    width: 100vw
}

main  {
    padding: 16px;
}

.mobile-img{
    width: 100%;
    max-width: 500px;
    height: 240px;
}

.tablet-img{
    display: none;
}

.gallery-image-group-tablet{
    display: none;
}
.your-day-at-the-gallery-first-img-tablet{
    display: none;
}

.modern-art-gallery{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.modern-art-gallery h1{
    width: 285px;
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    font-weight: 900;
    color: #151515;
    
}
.modern-art-gallery .gallery-p{
    font-family: 'Outfit';
    color:  #444444;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    
}

.location-button{
    display: flex;
    
}
.location-button:hover{
    cursor: pointer;
}




.location-button a{
    display: flex;
}

button{
    background: #151515;
    border: none;
    height: 72px;
    width: 204px;
}
button .buttonp{
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height:72px;
    background: #D5966C;


}


.mobile-second-img{
    margin-top: 88px;
    height: 320px;

}

.your-day-at-the-gallery{
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 25px;
}

.come-and-be-inspired-tablet{
    display: none;
}
.your-day-at-the-gallery h1{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 50px;
    color: #151515;
}
.your-day-at-the-gallery p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


.group-of-images-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;

}

.first-img-in-g {

    height: 480px;
}

.second-img-in-g {
    
    height: 200px;

}
.center-last-black-div-mobile{
    display: flex;
    justify-content: center;
    width: 343px;
}



.come-and-be-inspired-mobile{
    padding: 48px 24px 48px 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    background: #151515;
    max-width: 100%;
}

.come-and-be-inspired-mobile h1{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    color: White;
    font-size: 50px;
}
.come-and-be-inspired-mobile p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
    

}





.footer-box{

    margin-top: 104px;
    background: #151515;
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    gap: 38px;
}

.footer-box h1{
    max-width: 90px;
    font-family: 'Big Shoulders Display';
    color: white;
    font-size: 21px;
}
.footer-box p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: white;

}
.social-icons{

    display: flex;
    gap: 20px;
}




/* tablet responsive */
@media screen and (min-width: 768px){
     header{
        position: relative
     }
     

     main {
        padding: 0px 40px 0px 39px;
     }
    
    .mobile-img {
        display: none;
    }
    .mobile-second-img {
        display: none;
    }
    .group-of-images-mobile{
        display: none;
    }

 
    .tablet-img{
        display: block;
        width: 437px;
    }
    .gallery-p {
        width: 339px;
    }

    .modern-art-gallery {
        position: absolute;         
        top:0;
        left:0;
        margin-left: 396px;
        margin-top: 140px;
        gap: 55px;
    }

    .first-gallery-cont{
        display: flex;
        justify-content: center;
    }

    .your-day-at-the-gallery h1{
        width: 223px;
    }
    .your-day-at-the-gallery p{
        width: 223px;
    }
    .your-day-at-the-gallery {
        position: relative;
        margin-top: 154px;
    }

    .your-day-at-the-gallery-first-img-tablet{
        display: block;
        margin-top: -366px;
        width: 398px;
        
        margin-left: 290px;
        

    }


.main-cont{
    display: flex;
    justify-content: center;
    margin-top: -58px;
}

.gallery-image-group-tablet{
    position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 398px;
  margin-top: 46px;

}

.tablet-grid-2-img{
    width: 398px;
    margin-left: -287px;
}
.tablet-grid-3-img{
    width: 280px;
    position: absolute;
    margin-left: 122px;
}


.come-and-be-inspired-tablet{
    padding: 80px 28px 80px 29px;

    display: block;
    background: #151515;
    position: absolute;
    margin-left: 122px;
    margin-top: 324px;
}

.come-and-be-inspired-tablet h1{
    color: white;
}

.come-and-be-inspired-tablet p{
    margin-top: 24px;
    color: white;

}

.footer-box{
    margin-top: 120px;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer-box h1{
    font-size: 21px;
    width: 120px;
}


.footer-box p{
    margin-right: 55px;
    width: 281px;
}
.social-icons {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin-right: 90px
}
}